body
{
    background: url('../images/webtreats_light_wood1.jpg');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}


div#contenaire {
	display: block;

    width: 900px;

    margin: auto ;

}

header {
display: block;

background: #fff;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 7px #000000;
-webkit-box-shadow: 0px 0px 7px #000000;
box-shadow: 0px 0px 7px #000000;
}

header #titre {
	width: 300px;
	height: 125px;
	display: inline-block;
	margin: 0px;

}

header h1 {
	margin:10px 5px 5px 10px;
	font-size: 4.0em;
}
header h2 {
	
	margin:5px 5px 5px 30px;
	color: #505050;
}

header nav {
	width: 595px;
	padding-top: 75px;
	margin: auto;
   display: inline-block;
}

header nav ul
{
    list-style-type: none;
}

header nav li
{
    display: inline-block;
    margin-right: 15px;
}

header nav a
{
    font-size: 1.5em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

header nav a:hover
{
    color: #A98950;
    border-bottom: 3px solid #760001;
}

header nav .select
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

section {
	width: 900px;
	margin-top: 25px;
	display: block;
    background-color: #F5F2EF;

-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 7px #000000;
-webkit-box-shadow: 0px 0px 7px #000000;
box-shadow: 0px 0px 7px #000000;
}


/* Catalogue */
section #c1 {
    display: inline-block;
    width: 435px;
	padding: 10px 5px 10px 5px;
vertical-align: top;
}

section #c2 {
    display: inline-block;
	width: 435px;
	padding: 10px 5px 10px 5px;
	vertical-align: top;
}

section h2 {
	margin-left: 20px;
}



ul#results {
	list-style-type: none;
	padding: 0px;
}
ul#results li {
	padding:5px 5px 5px 5px;
	margin:2px 0 2px 0;
	width: 423px;
	float:left;
	cursor: pointer;

   border: 1px solid #c9b7a2;
}


ul#results li img{
	float:left;
	margin: 2px;
	padding: 0px;
}
ul#results li .titre{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}
ul#results li .album{
	padding-left: 5px;
	color:grey;
}
ul#results li .artist
{

   font-style:italic;
}

ul#results li:hover{
	padding:5px 5px 5px 5px;

	border:solid 1px #c9b7a2;
	background: #FFF6EC;
}


.form-field {
   border: 1px solid #c9b7a2;
   background: #FFF6EC;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:418px; 
   }
.form-field:focus {
   background: #fff;
   color: #725129;
   }


